<nav class="navbar navbar-expand-md border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
    </a>

    <!-- Custom Hamburger -->
    <button class="custom-toggler d-md-none" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <!-- Desktop Navbar -->
    <div class="collapse navbar-collapse d-none d-md-flex" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
        <% if (currUser) { %>
          <a class="nav-link" href="/listings/my-bookings">My Bookings</a>
        <% } %>
      </div>

      <div class="navbar-nav mx-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations" />
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } else { %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<!-- MOBILE MENU -->
<div id="mobile-menu">
  <a href="/listings">Explore</a>
  <% if (currUser) { %>
    <a href="/listings/my-bookings">My Bookings</a>
  <% } %>
  <a href="/listings/new">Airbnb your home</a>
  <% if(!currUser) { %>
    <a href="/signup">Sign up</a>
    <a href="/login">Log in</a>
  <% } else { %>
    <a href="/logout">Log out</a>
  <% } %>
</div>

<div id="overlay"></div>

<!-- CSS + JS Imports -->
<link rel="stylesheet" href="/css/navbar.css" />
<script src="/js/navbar.js"></script>
